#sidebar-wrapper,.index #main-wrapper #main{display:none!important}
#main-wrapper{width:100%!important}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}.MatchTable {display: block;height: 94px;position: relative;box-shadow: rgb(0 0 0 / 57%) 0 3px 10px -4px;-webkit-transition: box-shadow .3s;transition: box-shadow .3s;border-radius: 5px;margin: 12px auto;}.MatchDetails {display: block;height: 100%;position: absolute;right: 0;width: 100%;z-index: 5;}.MatchTableInner {margin: 0 13px;}.MatchTable img {background-color: #fff;border-bottom: 3px solid #532855;height: 50px;padding: 4px;position: absolute;width: 50px}.mDetail strong {color: #fff;height: 50px;margin-right: -50px;position: absolute;right: 50%;text-align: center;width: 100px;z-index: 1;border-radius: 5px;}.mDetail {position: relative;height: 48px;line-height: 48px;}.mDetail span {float: right;text-align: center;width: 100%;z-index: 2;}.FirstTeam {float: right;padding-left: 30px;width: 50%;position: relative;z-index: 2;}.SecondTeam {float: left;padding-right: 30px;width: 50%;position: relative;z-index: 2;}.MatchInnerDetail {padding: 0 100px;font-size: 14px;}.MatchInnerDetail i {margin-left: 5px;}.MatchInnerDetail span {background-color: var(--cl);border-left: 1px solid #fff;color: #fff;float: right;height: 36px;line-height: 36px;position: relative;text-align: center;width: 33.3%;}.MatchInnerDetail .Announcer {border: 0 none;}.MatchInnerDetails::before,.Announcer::before {background-color: #1e2552;content:"";height: 36px;position: absolute;top: 0;width: 30px;}.MatchInnerDetails::before {transform: skew(-20deg);right: -12px;border-radius: 0 0 8px;}.Announcer::before {transform: skew(20deg);left: -12px;border-radius: 0 0 0 8px;}@media screen and (max-width:700px) {.Announcer {display: none;}.MatchInnerDetail {padding: 0 60px;}.MatchInnerDetail span {width: 50%;}.Tournament::before {background-color: #532855;content: "";height: 36px;position: absolute;top: 0;width: 20px;transform: skew(20deg);left: -12px;border-radius: 0 0 0 8px;}}.MatchInnerDetail {font-size: 12px;}.mDetail {line-height: 30px;}.MatchTableInner {margin: 0 5px;}.FirstTeam {padding-left: 20px;}.SecondTeam {padding-right: 20px;}.MatchTable {height: 157px;}.MatchInnerDetail {padding: 0 25px;}.MatchTable img {position: relative;display: block;margin: 5px auto;background: transparent;border: 0;padding: 0;}.mDetail strong {height: 36px;line-height: 36px;top: 30px;width: 60px;margin-right: -30px;}.Live {background-color: #2eab2e }.End {background-color: #ac5eff }.Hold {background-color: #5ea4ff }

.close {
    display: none;
}
.openn {
    display:block;overflow: hidden;
}
.sports {
    display: inline-block;
    margin: 0 3px;
    background: var(--cl);
    padding: 6px 17px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    opacity: .7;cursor: pointer;
line-height: 17px;
}.open-match{
opacity:1;
}.svg {
    width: 24px;
    height: 26px;
    margin: 5px 0 5px 5px;
    display: unset;
}
.match-ul {
    width:auto;
    margin: 0 auto;
    text-align: left;
    float: left;
    padding: 12px 40px;
}.match-tabs {
    width: auto;
    margin: 0 auto;
    text-align: right;
    float: right;
    padding: 12px 40px;
}#match-tabs {
    margin: 10px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    display: table;
    text-align: center;
}.sport-tab{
    display: inline-block;
    margin: 0 3px;
    background: var(--cl);
    padding: 0px 17px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    opacity: .7;
    cursor: pointer;
    line-height: 17px;
}.cl-s{
    display: none!important;
}
.open{
    display:block!important;
}
.s-ul{
    text-align: center!important;
}
.serv {
    color: rgb(255,255,255)!important;
    background-color: rgb(15,15,15)!important;
    border-color: var(--cl) !important;
    display: inline-block!important;
    margin-bottom: 0!important;
    font-weight: normal!important;
    text-align: center!important;
    vertical-align: middle!important;
    background-image: none!important;
    border: 1px solid transparent!important;
    white-space: nowrap!important;
    padding: 6px 12px!important;
    font-size: 15px!important;
    line-height: 1.42857!important;
    border-radius: 2px!important;
    -moz-user-select: none!important;
    cursor: pointer!important;
    margin-bottom: 5px !important;
}.serv:hover, .serv.o-s {
    background: var(--cl) !important;
}#tv-post {
    margin: 20px 0 10px!important;
    border: 1px solid var(--cl)!important;
    border-radius: 2px!important;
    padding: 10px!important;
    text-align: center!important;
    background-color: RGB(18,18,18)!important;
    position: relative!important;
    height: 548px !important!important;
    display: block!important;
    width: 90%!important;
float: none !important;
margin: 0 auto !important;
}iframe {
    height: 488px;
    max-width: 100%;
}
@media screen and (max-width: 680px) {.match-tabs, .match-ul {
    float: none;
    text-align: center;
    display: inline-block;
}
